[submodule "Unit2-01/ICS4U-Unit2-01-Java"]
	path = Unit2-01/ICS4U-Unit2-01-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-01-Java.git
[submodule "Unit2-01/ICS4U-Unit2-01-Typescript"]
	path = Unit2-01/ICS4U-Unit2-01-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-01-Typescript.git
[submodule "Unit2-02/ICS4U-Unit2-02-Typescript"]
	path = Unit2-02/ICS4U-Unit2-02-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-02-Typescript.git
[submodule "Unit2-02/ICS4U-Unit2-02-Java"]
	path = Unit2-02/ICS4U-Unit2-02-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-02-Java.git
[submodule "Unit2-03/ICS4U-Unit2-03-Typescript"]
	path = Unit2-03/ICS4U-Unit2-03-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-03-Typescript.git
[submodule "Unit2-03/ICS4U-Unit2-03-Java"]
	path = Unit2-03/ICS4U-Unit2-03-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-03-Java.git
[submodule "Unit2-04/ICS4U-Unit2-04-Typescript"]
	path = Unit2-04/ICS4U-Unit2-04-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-04-Typescript.git
[submodule "Unit2-04/ICS4U-Unit2-04-Java"]
	path = Unit2-04/ICS4U-Unit2-04-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-04-Java.git
[submodule "Unit2-05/ICS4U-Unit2-05-Typescript"]
	path = Unit2-05/ICS4U-Unit2-05-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-05-Typescript.git
[submodule "Unit2-05/ICS4U-Unit2-05-Java"]
	path = Unit2-05/ICS4U-Unit2-05-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-05-Java.git
[submodule "Unit2-06/ICS4U-Unit2-06-Typescript"]
	path = Unit2-06/ICS4U-Unit2-06-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-06-Typescript.git
[submodule "Unit2-06/ICS4U-Unit2-06-Java"]
	path = Unit2-06/ICS4U-Unit2-06-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-06-Java.git
[submodule "Unit2-07/ICS4U-Unit2-07-Typescript"]
	path = Unit2-07/ICS4U-Unit2-07-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-07-Typescript.git
[submodule "Unit2-07/ICS4U-Unit2-07-Java"]
	path = Unit2-07/ICS4U-Unit2-07-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-07-Java.git
[submodule "Unit2-08/ICS4U-Unit2-08-Typescript"]
	path = Unit2-08/ICS4U-Unit2-08-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-08-Typescript.git
[submodule "Unit2-08/ICS4U-Unit2-08-Java"]
	path = Unit2-08/ICS4U-Unit2-08-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit2-08-Java.git
